<div class="landingpage" id="start">
    <div class="portrait-area">
        <div class="left-area">
            <img class="shadow" src="./assets/img/shadows/hero-shadow.png">
            <img class="portrait" src="./assets/img/hero-color2.png">
        </div>

        <div class="text-button">
            <div class="text-container">
                <p class="vertical i-am">I am </p>
                <div class="text-container-right">
                    <p class="name">Patrick Kolodziej</p>
                    <p class="job">FRONTEND DEVELOPER</p>
                </div>
            </div>
            <button mat-raised-button (click)="scroll('contact')">Let`s talk</button>
        </div>
    </div>

    <div class="social-media">
        <div class="social-media-left">
            <hr class="line">
            <img class="m-50" src="./assets/img/icons/sc-icon-github.png"
                (click)="visit('https://github.com/PatrickKolo')">
            <a class="m-50" href="#contact"><img
                    src="./assets/img/icons/sc-icon-mail.png"></a>
            <img class="m-50" src="./assets/img/icons/sc-icon-linkedin.png"
                (click)="visit('https://github.com/PatrickKolo')">
            <a class="m-50 mobile-hide" href="#contact">
                <p [ngStyle]="{'font-size': '23px'}">Patrick.Kolodziej@outlook.de</p>
            </a>
        </div>

        <div class="social-media-right">
            <img src="./assets/img/icons/arrow-down.png">
            <p [ngStyle]="{'font-size': '23px'}" class="vertical" (click)="scroll('aboutme')">Scroll down</p>
        </div>
    </div>
    <img class="vector" src="./assets/img/slope2.png">
</div>