.startpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #141D2F;
    margin-bottom: 100px;
}


.hero-area {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    //z-index: 1;

    @media screen and (max-width:1500px) {
        margin-left: 90px;
    }

    @media screen and (max-width:1300px) {
        margin-left: 60px;
    }

    @media screen and (max-width:1024px){
        margin-left: 0px;
    }

    @media screen and (max-width:850px){
        margin-left: -50px;
    }



    @media screen and (max-width:760px) {
        margin-left: -120px;
    }

    
    @media screen and (max-width:600px){
        margin-left: -240px;
    }

    @media screen and (max-width:400px){
        flex-direction: column;
        margin-left: -160px;
    }


    @media screen and (max-width:320px) {
        margin-left: -290px;
    }
}


.hero-left-container {
    position: relative;
    z-index: 1;

    @media screen and (max-width:400px){
        padding-top: 100px;
    }

    .hero-shadow {
        position: absolute;
        left: -120px;
        top: 121.62px;
        user-select: none;
    }

    .hero-pic {
        height: 70vh;

        @media screen and (max-width:400px){
            height: 55vh;
        }


    }
}


.aboutme-slope {
    width: 100%;
    position: absolute;
    top: calc(100vh - 420px);
    z-index: 2;

    @media screen and (max-width:1500px) {
        top: calc(100vh - 400px);
    }

    @media screen and (max-width:1300px) {
        top: calc(100vh - 390px);
    }

    @media screen and (max-width:1024px) and (orientation: portrait) {
        top: calc(100vh - 350px);
    }

    @media screen and (max-width:850px) and (orientation: portrait) {
        top: calc(100vh - 320px);
    }



    @media screen and (max-width:760px) {
        top: calc(100vh - 310px);
    }

    @media screen and (max-width:600px) and (orientation: portrait) {
        bottom: 3vh !important;
        top: unset !important;
    }

    @media screen and (max-width:400px) and (orientation: portrait) {
        bottom: 5vh !important;
        width: 108%;
    }


    @media screen and (max-width:320px) and (orientation: portrait) {
        bottom: 5vh !important;
        width: 108%;
    }

    @media screen and (max-width: 915px) and (max-height: 768px) and (orientation: landscape) {
        top: calc(100vh * 0.4);
    }

    @media screen and (max-width: 915px) and (max-height: 450px) and (orientation: landscape) {
        top: calc(100vh * 0.25);
    }

    @media screen and (max-width: 915px) and (max-height: 370px)and (orientation: landscape) {
        top: calc(100vh * 0.2);
    }

    @media screen and (max-width: 915px) and (max-height: 350px) and (orientation: landscape) {
        top: calc(100vh * 0.15);
    }

    @media screen and (max-width: 915px) and (max-height: 325px) and (orientation: landscape) {
        top: calc(100vh * 0.1);
    }
}


.aboutme-title-container {
    display: flex;
    align-items: center;
}

.hero-right-container{
    z-index: 3;

    @media screen and (max-width:600px){
        position: absolute;
        top: 71%;
        left: 20%;
    }

 

}


.hero-title-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


.hero-title-iam {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding-top: 85px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 120%;

    @media screen and (max-width:1700px) {
        font-size: 40px !important;
    }

    
    @media screen and (max-width:1600px) {
        font-size: 32px !important;
    }




}


.hero-title-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 120%;

    @media screen and (max-width:1700px) {
        font-size: 52px !important;
    }

    @media screen and (max-width:1600px) {
        font-size: 40px !important;
    }


    @media screen and (max-width:1024px) {
        font-size: clamp(30px, 5.5vw, 90px);
    }

    @media screen and (max-width:720px) {
        font-size: clamp(30px, 7.5vw, 90px);
    }
}


.hero-title-job {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    color: #4B47FF;

    @media screen and (max-width:1700px) {
        font-size: 42px !important;
    }

    @media screen and (max-width:1600px) {
        font-size: 32px !important;
    }


    @media screen and (max-width:1024px) {
        font-size: clamp(22px, 4.0vw, 58px);
    }

    @media screen and (max-width:720px) {
        font-size: clamp(22px, 5.5vw, 58px);
    }
}


.btn-talk {
    width: 165px;
    height: 58px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    border-inline: unset;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
        transform: scale(1.2);
        background: #4B47FF;
    }
}


.vertical {
    font-weight: 400;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


.social-media {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    margin-top: 100px;
    z-index: 3;

    .social-media-left {
        display: flex;
        align-items: center;

        .m-50 {
            margin-left: 50px;



            @media screen and (max-width:350px) {
                margin-left: 25px;
            }
        }

        img {
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;

        }

        .mobile-hide {
            @media screen and (max-width:720px) {
                display: none;
            }
        }

        p {
            @media screen and (max-width:1024px) {
                font-size: 18px !important;
            }
        }
    }


    .social-media-right {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        transform: rotate(180deg);
        cursor: pointer;
        gap: 5px;

        img {
            transform: rotate(180deg);
        }

        @media screen and (max-width:768px) {
            display: none;
        }

        @media screen and (max-width: 914px) and (max-height: 500px) and (orientation: landscape) {
            display: none;
        }
    }


    .line {
        border: 2px solid #9747FF;
        height: 1px;
        width: 100px;
        background-color: #9747FF;
        border-radius: 10px;

        @media screen and (max-width:350px) {
            width: 50px;
        }
    }

    p {
        text-align: center;

        @media screen and (max-width:1024px) {
            font-size: 18px !important;
        }
    }
}


.shadow-container {
    position: absolute;
    top: 85px;
    left: -360px;
    user-select: none;
    z-index: 0;

    @media screen and (max-width:1024px) {
        width: 100%;
    }
}


.purple-shadow {
    position: relative;
    right: -55%;
    overflow: hidden;
    @media screen and (max-width:400px) {
        width: 580px;
    }
}