<div class="footer">
    <div class="footer-area">

        <div class="logo-area">
            <a routerLink="/"><img src="./assets/img/logo-pk2.png"></a>
            <a class="footer-impressum" routerLink="/imprint">Impressum</a>
        </div>

        <span>&#169; Patrick Kolodziej 2023</span>

        <div class="social-area">
            <img src="./assets/img/icons/sc-icon-github.png" >
            <a href="#contact"><img src="./assets/img/icons/sc-icon-mail.png"></a>
            <img src="./assets/img/icons/sc-icon-linkedin.png" >
        </div>

        <a class="footer-impressum mobile" routerLink="/imprint">Impressum</a>
    </div>
</div>