<div class="shadow-container">
    <img class="purple-shadow" src="./assets/img/shadows/aboutme-shadow-text.png">
</div>

<div class="aboutme-container" id="aboutme">

    <div class="aboutme-text">
        <h1>About me</h1>
        <span class="text">
            Hi, I am a Frontend developer based in the area of Tübingen, Germany. I started my education in the fall of
            2022 at the Developer Academy.
            With a lot of passion and endurance, I learned how to code while being in a full-time job.
            On this page, you can learn a few things about me and have a look at my successfully developed projects.
        </span>
        <div class="container-text">
            <img src="./assets/img/icons/lightbulb.png">
            <span class="text">
                My name is Patrick Kolodziej. I am 32 years old, married and a soon-to-be father. I´ve got a Bachelor of
                Economics.
                Up to now I worked mainly in sales as a account manager in the IT Area and i finally decided to follow
                my passion and dive deeper into the IT-world.
            </span>
        </div>

        <div class="container-text">
            <img src="./assets/img/icons/puzzle.png">
            <span class="text">
                During my five years as an Account Manager and Key Account-Manager in the IT world, I often thought
                about diving deeper into coding and programming. Last year I finally pulled the trigger and decided it
                was time for me to make this move. I do very much enjoy the experience of creating things and I am eager
                to learn so much more in this area.
            </span>

        </div>
    </div>

    <div class="aboutme-picture">
        <img src="./assets/img/hero1.png">
        <hr>
    </div>
</div>