
<div class="shadow-container">
    <img class="purple-shadow" src="./assets/img/aboutme-shadow-text.png">
</div>

<div class="aboutme-container" id="aboutme">

    <div class="aboutme-text">
        <h1>About me</h1>
        <span class="text"> 
            Hi, I am a Front-end developer based in the area of Tübingen, Germany. I started my education in the fall of 2022 at Developer Academy.
            With a lot of passion and endurance I learned how to code while being in a full-time job.
            On this page, you can learn a few things about me and have a look at successfully developed projects.
        </span>
        <div class="container-text">
            <img src="./assets/img/lightbulb.png">
            <span class="text">
                My name is Patrick Kolodziej. I am 32 years old, married and a soon-to-be father. I´ve got an Bachelor of Economics. 
                Up to now I worked mainly in Sales as a account manager and I know how important it is to maintain quality parameters through the whole process.
            </span>
        </div>

        <div class="container-text">
            <img src="./assets/img/puzzle.png">
            <span class="text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deleniti suscipit eum, totam sapiente vitae placeat minus sit facilis obcaecati provident nobis minima repudiandae laborum, itaque blanditiis saepe delectus error.
            </span>

        </div>
    </div>

    <div class="aboutme-picture">
        <img src="./assets/img/hero2-placeholder.png">
        <hr>
    </div>
</div>
