<div class="myskill-area" id="skills">


    <div class="myskill-area-left">
        <div class="skill" *ngFor="let skill of skills; let i = index">
            <img class="bounce" src="./assets/img/skills/{{ skill }}" alt="">
            <p>{{ skillName[i] }}</p>
        </div>
    </div>


    <div class="myskill-area-right">
        <div class="myskill-head">
            <span> My Skills</span>
            <div class="line"></div>
        </div>

        <div class="myskill-text">
            <p>I have grown my frontend development skills that have allowed me to create different real projects</p>
        </div>

        <button (click)="scroll('contact')" class="btn-touch">Get in touch</button>
    </div>

</div>

<div class="shadow-container">
    <img class="skill-shadow" src="./assets/img/shadows/aboutme-shadow-text.png">
</div>