.myskill-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 250px;
    z-index: 1;


    @media screen and (max-width:1400px) {
        margin-top: 150px;
    }

    @media screen and (max-width:1024px) {
        flex-direction: column-reverse;
        margin-left: 100px;
    }

    @media screen and (max-width:768px) {
        margin-left: unset;
    }

    @media screen and (max-width: 914px) and (max-height: 768px) and (orientation: landscape) {
        margin-left: unset;
    }
}

.myskill-area-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    @media screen and (max-width:1400px) {
        width: 77%;
    }

    @media screen and (max-width:1024px) {
        width: 90%;
    }

    @media screen and (max-width:720px) and (orientation: portrait) {
        justify-content: space-evenly;
    }

    @media screen and (max-width: 914px) and (max-height: 768px) and (orientation: landscape) {
        justify-content: space-evenly;
    }


    .skill {
        width: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 25px;
        margin-bottom: 25px;

        img {
            margin-bottom: 5px;
        }

        .bounce {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;

            &:hover {
                animation-name: bounce;
                -moz-animation-name: bounce;
            }
        }

        p {
            height: 25px;
        }


        @media screen and (max-width:450px) {
            margin-left: 25px;
            margin-right: 25px;
        }

        @media screen and (max-width: 914px) and (max-height: 768px) and (orientation: landscape) {
            width: 50px;
            margin-right: 60px;
            margin-left: 60px;
        }
    }
}

.myskill-area-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width:1024px) {
        width: 100%;
    }

    .myskill-head {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-bottom: 50px;
        width: 100%;


        span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 90px;
            line-height: 120%;

            @media screen and (max-width:1450px) {
                font-size: 75px;
            }

            @media screen and (max-width:500px) {
                font-size: 67px;
            }

            @media screen and (max-width:400px) {
                font-size: 52px;
            }

            @media screen and (max-width:350px) {
                font-size: 50px;
            }
        }
    }
}


.line {
    border: 2px solid #9747FF;
    height: 1px;
    width: 75px;
    background-color: #9747FF;
    border-radius: 10px;
    margin-left: 25px;

    @media screen and (max-width:1024px) {
        right: -320px;
    }

    @media screen and (max-width:350px) {
        width: 50px;
    }
}

.myskill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    margin-left: 100px;

    @media screen and (max-width:720px) {
        margin-left: 25px
    }

    p {
        text-align: right;
        margin-right: 100px;
        margin-bottom: 50px;
    }

}

.btn-touch {
    width: 165px;
    height: 58px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    border-inline: unset;

    &:hover {
        transform: scale(1.2);
        background: #4B47FF;
    }

    @media screen and (max-width:1024px) {
        width: 159px;
        height: 47px;
        font-size: 16px;
    }


}


.shadow-container {
    position: absolute;
    top: 2050px;
    overflow: hidden;
    user-select: none;

    @media screen and (max-width:1300px) {
        top: 2150px;
    }

    @media screen and (max-width:1024px) {
        width: 100%;
    }
}

.skill-shadow {
    position: relative;
    transform: scaleY(-1);
    left: -60%;
    overflow: hidden;

    @media screen and (max-width:1024px) {
        left: -500px;
    }

    @media screen and (max-width:700px) {
        left: -600px;
    }
}


@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}