<div class="myskill-area">
    <div class="myskill-area-left">
        <div class="skill">
            <img src="./assets/img/Angular.png" alt="">
            <p>Angular</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Typescript.png" alt="">
            <p>TypeScript</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Javascript.png" alt="">
            <p>JavaScript</p>
        </div>
        <div class="skill">
            <img src="./assets/img/html.png" alt="">
            <p>HTML</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Firebase.png" alt="">
            <p>Firebase</p>
        </div>
        <div class="skill">
            <img src="./assets/img/git.png" alt="">
            <p>GIT</p>
        </div>
        <div class="skill">
            <img src="./assets/img/CSS.png" alt="">
            <p>CSS/SCSS</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Restapi.png" alt="">
            <p>Rest-Api</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Scrum.png" alt="">
            <p>Scrum</p>
        </div>
        <div class="skill">
            <img src="./assets/img/Materialdesign.png" alt="">
            <p>Material Design</p>
        </div>
    </div>
    <div class="myskill-area-right">
        <div class="myskill-title">My Skills</div>
        <p>I have grown my frontend development skills that have allowed me to create different real projects</p>
        <button class="btn-touch">Get in touch</button>
    </div>
    
</div>

<div class="shadow-container">
    <img class="green-shadow" src="./assets/img/shadows/Green shadow 3_skills_portfolio section.png">
</div>
