/* You can add global styles to this file, and also import other style files */
html {
    scroll-padding-top: 150px;
  }
  
  body {
      margin: 0;
      font-family: 'poppins'!important;
      color: white;
      background-color: #141D2F;
  }
  

html, body { height: 100%; }
body { margin: 0;}
